<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="stylesheet" href="{{ '/style.css' | url }}">
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
        <script type="text/javascript" src="{{ '/bundle.js' | url }}"></script>
    </head>
    <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        <header class="site-header">
            {% include 'partials/navigation.njk' %}
        </header>
        <div class="site-content">
            <div class="page-header">
                <h1>{{ title }}</h1>
            </div>
            <div class="page-content">
                <main class="content-area">
                    {{ content | safe }}
                </main>
                <div class="sidebar-left">
                    <p>Left sidebar</p>
                </div>
                <div class="sidebar-right">
                    <p>Right sidebar</p>
                </div>
            </div>
        </div>
        <footer class="site-footer" role="contentinfo">
            <p>Repeatermap uses data from <a href="https://repeaterbook.com" target="_blank">repeaterbook.com</a><br/>Copyright &copy; 2021 Repeatermap</p>
        </footer>
        <!-- Current page: {{ page.url | url }} -->
    </body>
</html>