
<nav>
    <a class="brand" href="{{ '/' | url }}" title="Home page">{{ metadata.title }}</a>
    <span class="sep" role="presentation"></span>
    <a href="/about/" title=About page">About</a></li>
</nav>